@import "/src/scss/index";

.products {
  &__header {
    @include flex(row, center, space-between);
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
  }
}
