@import "/src/scss/index";

.order {
  display: flex;
  flex-direction: column;

  &__header {
    margin-bottom: 10px;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
  }
}
