$themes: (
  light: (
    text: #01132d,
    text-50: #e6f0fe,
    text-100: #cde1fe,
    text-200: #9bc4fd,
    text-300: #69a6fc,
    text-400: #3789fb,
    text-500: #056bfa,
    text-600: #0456c8,
    text-700: #034096,
    text-800: #022b64,
    text-900: #011532,
    text-950: #010b19,
    background: #f0f4f4,
    background-50: #f0f4f4,
    background-100: #e2e9e9,
    background-200: #c4d4d4,
    background-300: #a7bebe,
    background-400: #8aa8a8,
    background-500: #6c9393,
    background-600: #577575,
    background-700: #415858,
    background-800: #2b3b3b,
    background-900: #161d1d,
    background-950: #0b0f0f,
    primary: #bec0b9,
    primary-50: #f3f3f2,
    primary-100: #e6e7e4,
    primary-200: #cdcfc9,
    primary-300: #b4b6af,
    primary-400: #9b9e94,
    primary-500: #828679,
    primary-600: #686b61,
    primary-700: #4e5049,
    primary-800: #343630,
    primary-900: #1a1b18,
    primary-950: #0d0d0c,
    secondary: #a3c7e0,
    secondary-50: #ecf3f9,
    secondary-100: #d9e8f2,
    secondary-200: #b3d0e6,
    secondary-300: #8cb9d9,
    secondary-400: #66a2cc,
    secondary-500: #408abf,
    secondary-600: #336f99,
    secondary-700: #265373,
    secondary-800: #19374d,
    secondary-900: #0d1c26,
    secondary-950: #060e13,
    accent: #032545,
    accent-50: #e7f3fe,
    accent-100: #cee6fd,
    accent-200: #9dcefb,
    accent-300: #6cb5f9,
    accent-400: #3b9cf7,
    accent-500: #0a83f5,
    accent-600: #0869c4,
    accent-700: #064f93,
    accent-800: #043562,
    accent-900: #021a31,
    accent-950: #010d18,
  ),
  dark: (
    text: #d2e4fe,
    text-50: #010b19,
    text-100: #011532,
    text-200: #022b64,
    text-300: #034096,
    text-400: #0456c8,
    text-500: #056bfa,
    text-600: #3789fb,
    text-700: #69a6fc,
    text-800: #9bc4fd,
    text-900: #cde1fe,
    text-950: #e6f0fe,

    background: #0b0f0f,
    background-50: #0b0f0f,
    background-100: #161d1d,
    background-200: #2b3b3b,
    background-300: #415858,
    background-400: #577575,
    background-500: #6c9393,
    background-600: #8aa8a8,
    background-700: #a7bebe,
    background-800: #c4d4d4,
    background-900: #e2e9e9,
    background-950: #f0f4f4,

    primary: #44463f,
    primary-50: #0d0d0c,
    primary-100: #1a1b18,
    primary-200: #343630,
    primary-300: #4e5049,
    primary-400: #686b61,
    primary-500: #828679,
    primary-600: #9b9e94,
    primary-700: #b4b6af,
    primary-800: #cdcfc9,
    primary-900: #e6e7e4,
    primary-950: #f3f3f2,

    secondary: #1f425c,
    secondary-50: #060e13,
    secondary-100: #0d1b26,
    secondary-200: #19364d,
    secondary-300: #265273,
    secondary-400: #336d99,
    secondary-500: #4088bf,
    secondary-600: #66a0cc,
    secondary-700: #8cb8d9,
    secondary-800: #b3cfe6,
    secondary-900: #d9e7f2,
    secondary-950: #ecf3f9,

    accent: #badcfc,
    accent-50: #010d18,
    accent-100: #021a31,
    accent-200: #043562,
    accent-300: #064f93,
    accent-400: #0869c4,
    accent-500: #0a83f5,
    accent-600: #3b9cf7,
    accent-700: #6cb5f9,
    accent-800: #9dcefb,
    accent-900: #cee6fd,
    accent-950: #e7f3fe,
  ),
);
