<ng-container *ngIf="orderData$ | async as orderData; else emptyOrder">
  <div
    class="order-item"
    [class.ordered]="orderData.orderDto.status === 'ORDERED'"
    [class.cooking]="orderData.orderDto.status === 'COOKING'"
    [class.ready]="orderData.orderDto.status === 'READY'"
    [class.choosing]="orderData.orderDto.status === 'CHOOSING'"
    mat-button
    [matMenuTriggerFor]="menu"
  >
    <div class="order-item__header">
      <span>Order #{{ orderData.orderDto.id }}</span>
      <span>{{ tableName() }}</span>
    </div>
    <div class="order-item__body">
      <div class="order-item__body-list">
        <div
          class="order-item__body-card"
          *ngFor="let item of orderData.orderProductDtos"
        >
          <div class="order-item__body-card-image">
            <img [src]="item.productImage" alt="Product Image" />
          </div>
          <div class="order-item__body-card-title">
            <span>Name</span>
            <span>{{ item.productName }}</span>
          </div>
          <div class="order-item__body-card-quantity">
            <span>Quantity</span>
            <span>{{ item.quantity }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="order-item__footer">
      <span
        >X {{ orderData.orderProductDtos.length }}
        {{ orderData.orderProductDtos.length === 1 ? "item" : "items" }}</span
      >
      <span>{{ orderData.orderDto.sumToPay | currency }}</span>
    </div>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onStatusChanged('ORDERED')">Ordered</button>
    <button mat-menu-item (click)="onStatusChanged('COOKING')">Cooking</button>
    <button mat-menu-item (click)="onStatusChanged('READY')">Ready</button>
  </mat-menu>
</ng-container>
<ng-template #emptyOrder>
  <div class="order-item order-item__choosing">
    <div class="order-item__header">
      <span>Order #0</span>
      <span>{{ tableName() }}</span>
    </div>
    <div class="order-item__body"></div>
    <div class="order-item__footer">
      <span>X 0 item</span>
      <span>{{ 0 | currency }}</span>
    </div>
  </div>
</ng-template>
