.order {
  &__header {
    display: flex;
    justify-content: space-evenly;
    border: var(--border);
    border-style: none none dashed none;
    padding: 15px 0;

    span {
      font-size: 18px;
    }
  }
}
