@import "../../../../../assets/styles/media",
  "../../../../../assets/styles/mixins";

.table-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100%;
  color: var(--color-text-dark);
}

.table-list {
  display: flex;
  flex-direction: column;
  padding-right: 15px;

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    select {
      width: 30%;
      border: var(--border);
      border-radius: var(--border-radius);
      background-color: var(--color-primary);
      height: var(--button-height);
      color: var(--color-text-dark);
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: var(--border);
    border-radius: var(--border-radius);
  }
}

.order {
  border: var(--border);
  border-style: none none none dashed;
}

.table-create {
  @include flex-center;
  width: 20%;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  height: var(--button-height);
}
