<app-side-bar>
  <div class="table-page">
    <div class="table-list">
      <div class="table-list__buttons">
        <select
          *ngIf="isSuperAdmin"
          name="restaurants"
          id="restaurants"
          (change)="onRestaurantChange($event)"
        >
          <option disabled selected value="">Choose restaurant</option>
          <option
            *ngFor="let restaurant of restaurantList"
            [value]="restaurant.id"
          >
            {{ restaurant.name }}
          </option>
        </select>
        <a *ngIf="restaurantId !== -1" class="table-create">Create table</a>
      </div>
      <div class="table-list__inner">
        <app-table-item
          *ngFor="let table of tableList"
          [table]="table"
          (deleteTableEvent)="getAllTables()"
          (showOrder)="showOrder(table)"
        ></app-table-item>
      </div>
    </div>
    <div class="order">
      <app-table-order [table]="currentSelectedTable"></app-table-order>
    </div>
  </div>
</app-side-bar>
