<table class="table">
  <thead class="table__header">
    <tr>
      <th (click)="filter.sortData('email')">
        Email
        <span
          *ngIf="filter.sortField === 'email'"
          class="material-symbols-outlined"
          >{{
            filter.sortDirection === "asc"
              ? "keyboard_arrow_up"
              : "keyboard_arrow_down"
          }}</span
        >
      </th>
      <th (click)="filter.sortData('username')">
        Username
        <span
          *ngIf="filter.sortField === 'username'"
          class="material-symbols-outlined"
          >{{
            filter.sortDirection === "asc"
              ? "keyboard_arrow_up"
              : "keyboard_arrow_down"
          }}</span
        >
      </th>
      <th (click)="filter.sortData('fullName')">
        Full name
        <span
          *ngIf="filter.sortField === 'fullName'"
          class="material-symbols-outlined"
          >{{
            filter.sortDirection === "asc"
              ? "keyboard_arrow_up"
              : "keyboard_arrow_down"
          }}</span
        >
      </th>
      <th (click)="filter.sortData('restaurantName')">
        Restaurant name
        <span
          *ngIf="filter.sortField === 'restaurantName'"
          class="material-symbols-outlined"
          >{{
            filter.sortDirection === "asc"
              ? "keyboard_arrow_up"
              : "keyboard_arrow_down"
          }}</span
        >
      </th>
      <th (click)="filter.sortData('bonusScore')">
        Bonus score
        <span
          *ngIf="filter.sortField === 'bonusScore'"
          class="material-symbols-outlined"
          >{{
            filter.sortDirection === "asc"
              ? "keyboard_arrow_up"
              : "keyboard_arrow_down"
          }}</span
        >
      </th>
      <th (click)="filter.sortData('deleted')">
        Deleted
        <span
          *ngIf="filter.sortField === 'deleted'"
          class="material-symbols-outlined"
          >{{
            filter.sortDirection === "asc"
              ? "keyboard_arrow_up"
              : "keyboard_arrow_down"
          }}</span
        >
      </th>
      <th>Functions</th>
    </tr>
  </thead>

  <tbody class="table__body">
    @for (user of users() | async; track $index) {
    <tr>
      <td>{{ user.email }}</td>
      <td>{{ user.username }}</td>
      <td>{{ userService.getFullName(user) }}</td>
      <td>{{ restaurantService.getRestaurantName(user) }}</td>
      <td>{{ user.bonusScore || 0 }}</td>
      <td [style.color]="user.deleted ? 'red' : 'green'">
        {{ user.deleted ? "Deleted" : "Active" }}
      </td>
      <td class="table__functions">
        <button-edit (click)="editUser.emit(user.id)"></button-edit>
        <button-delete (click)="deactivateActivateUser(user)"></button-delete>
      </td>
    </tr>
    } @empty {
    <tr>
      <td>User list is empty</td>
    </tr>
    }
  </tbody>
</table>
