<div class="reservation">
  <div class="reservation__header">
    <div class="reservation__form">
      <input
        matInput
        id="reservationDate"
        [matDatepicker]="datePicker"
        [min]="minDate"
        [value]="tableMenuService.selectedDate"
        (dateChange)="tableMenuService.selectedDate = $event.value"
        readonly
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="datePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </div>

    <button-primary
      name="Reservations.Create"
      (click)="createReservation.emit()"
    ></button-primary>
  </div>
  <div class="reservation__body">
    @for (reservation of tableMenuService.reservationList$ | async; track
    $index) {
    <app-table-reservation-item
      [reservation]="reservation"
      (deleteReservation)="tableMenuService.updateReservation()"
      (editReservation)="editReservation.emit($event)"
    ></app-table-reservation-item>
    }
  </div>
</div>
