@import "../../../../../assets/styles/media",
  "../../../../../assets/styles/mixins";

.form-container {
  color: var(--color-text-dark);
}

.form__title {
  margin-bottom: 10px;

  @include desktop {
    font-size: 1.5em;
  }
}

.form {
  padding: 20px;
  border: var(--border);
  border-radius: var(--border-radius);
  width: 100%;

  &__group {
    margin-bottom: 15px;

    @include desktop {
      margin-bottom: 10px;
    }
  }

  &__label {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
  }

  &__input,
  &__select {
    width: 100%;
    background-color: transparent;
    border: var(--border);
    border-radius: var(--border-radius);
    height: var(--input-height);
    padding: 10px 15px;
    outline: none;
  }

  &__checkboxes {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 40px;
    flex-wrap: wrap;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    height: 30px;

    input {
      width: 20px;
    }
  }

  &__btn {
    @include flex-center;
  }

  &__submit {
    @include reset-button;
    width: 15%;
    height: var(--button-height);
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
    cursor: pointer;

    @include desktop {
      width: 25%;
    }

    @include tablet {
      width: 50%;
    }

    @include mobile {
      width: 100%;
    }
  }
}
