<app-side-bar>
  <div class="header">
    <a [routerLink]="['create']" class="create-link">Create restaurant</a>

    <div class="header__search" (click)="focusInput()">
      <i class="material-symbols-outlined unselectable">search</i>
      <input
        #searchInput
        type="text"
        placeholder="Search"
        (input)="searchRestaurants($event)"
      />
    </div>
    <div class="header__pagination">
      <i class="material-symbols-outlined unselectable" (click)="changePage(-1)"
        >chevron_left</i
      >
      <i class="material-symbols-outlined unselectable" (click)="changePage(1)"
        >chevron_right</i
      >
    </div>
  </div>
  <table class="table">
    <thead class="table__header">
      <tr>
        <th (click)="sortData('address')">
          Address
          <span
            *ngIf="sortField === 'address'"
            class="material-symbols-outlined"
            >{{
              sortDirection === "asc"
                ? "keyboard_arrow_up"
                : "keyboard_arrow_down"
            }}</span
          >
        </th>
        <th (click)="sortData('name')">
          Name
          <span
            *ngIf="sortField === 'name'"
            class="material-symbols-outlined"
            >{{
              sortDirection === "asc"
                ? "keyboard_arrow_up"
                : "keyboard_arrow_down"
            }}</span
          >
        </th>
        <th>Functions</th>
      </tr>
    </thead>

    <tbody class="table__body">
      <tr *ngFor="let restaurant of showRestaurantList">
        <td class="table__cell">{{ restaurant.address }}</td>
        <td class="table__cell">{{ restaurant.name }}</td>
        <td class="table__functions">
          <a
            class="material-symbols-outlined unselectable"
            [routerLink]="['edit']"
            [queryParams]="{ restaurant_id: restaurant.id }"
          >
            edit </a
          ><a
            class="material-symbols-outlined unselectable"
            (click)="deleteRestaurant(restaurant)"
          >
            delete
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</app-side-bar>
