@import "../../../../../assets/styles/media",
  "../../../../../assets/styles/mixins";

.table {
  display: grid;
  position: relative;
  grid-template-rows: 1fr 1fr 1fr;
  background: url("/assets/img/table.svg") no-repeat center;
  padding: 85px 0;
  place-items: center;
  color: var(--color-secondary);
  cursor: pointer;

  @include hover {
    .table__hover {
      display: block;
    }
  }

  &__hover {
    position: absolute;
    background-color: rgba($color: #bcbcbc, $alpha: 0.7);
    z-index: 2;
    display: none;
    width: 100%;
    height: 100%;

    &-inner {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      place-items: center;
      width: 100%;
      height: 100%;
      column-gap: 10px;
      padding: 0 10px;
    }

    a {
      @include flex-center;
      height: var(--button-height);
      width: 100%;
      cursor: pointer;
      color: var(--color-text-light);
      border-radius: var(--border-radius);
      transition: 0.2s;
      --alpha: 0.7;
    }

    &-edit {
      background-color: rgb(125, 125, 255);

      @include hover {
        background-color: rgba(125, 125, 255, var(--alpha));
      }
    }

    &-delete {
      background-color: rgb(255, 96, 96);

      @include hover {
        background-color: rgba(255, 96, 96, var(--alpha));
      }
    }

    &-orders {
      background-color: var(--color-primary);
    }
  }

  &__name {
    font-size: 22px;
    font-weight: 700;
  }

  &__seats {
    font-size: 18px;
    font-weight: 600;
  }

  &__status {
    font-size: 14px;
    font-weight: 500;
  }
}
