@if(authService.checkPermission(['super_admin'])){
<div class="super-admin-menu">
  <select-restaurant
    *ngIf="authService.checkPermission([ROLES_CONFIG.superAdmin])"
    [restaurantList$]="restaurantList$"
    [selectedRestaurantId]="selectedRestaurantId"
    (changeRestaurant)="onRestaurantChange($event)"
  ></select-restaurant>
  <button-primary
    name="Create restaurant"
    (click)="openModal('restaurant')"
  ></button-primary>
</div>
}

<app-restaurant-edit
  [restaurantId]="selectedRestaurantId"
  (updateRestaurants)="updateSelectedRestaurant()"
>
</app-restaurant-edit>

<hr />

<app-category-list
  [categories]="categoryList$"
  [restaurantId]="selectedRestaurantId"
  (createCategory)="openModal('category')"
  (editCategory)="openModal('category', $event)"
  (updateCategories)="updateCategory()"
></app-category-list>

@if (authService.checkPermission(['super_admin'])) {

<hr />

<app-units-list
  (createUnit)="openModal('units')"
  (editUnit)="openModal('units', $event)"
  [units]="unitList$"
  (updateUnits)="updateUnits()"
></app-units-list>
}

<modal-window [isOpen]="isModalOpen" (closed)="closeModal()">
  <ng-template #modalContent></ng-template>
</modal-window>
