<app-side-bar>
  <div class="header">
    <a [routerLink]="['create']" class="create-link">Create user</a>

    <div class="header__search" (click)="focusInput()">
      <i class="material-symbols-outlined unselectable">search</i>
      <input
        #searchInput
        type="text"
        placeholder="Search"
        (input)="searchUsers($event)"
      />
    </div>
    <div class="header__pagination">
      <i class="material-symbols-outlined unselectable" (click)="changePage(-1)"
        >chevron_left</i
      >
      <i class="material-symbols-outlined unselectable" (click)="changePage(1)"
        >chevron_right</i
      >
    </div>
  </div>
  <table class="table">
    <thead class="table__header">
      <tr>
        <th (click)="sortData('email')">
          Email
          <span
            *ngIf="sortField === 'email'"
            class="material-symbols-outlined"
            >{{
              sortDirection === "asc"
                ? "keyboard_arrow_up"
                : "keyboard_arrow_down"
            }}</span
          >
        </th>
        <th (click)="sortData('username')">
          Username
          <span
            *ngIf="sortField === 'username'"
            class="material-symbols-outlined"
            >{{
              sortDirection === "asc"
                ? "keyboard_arrow_up"
                : "keyboard_arrow_down"
            }}</span
          >
        </th>
        <th (click)="sortData('fullName')">
          Full name
          <span
            *ngIf="sortField === 'fullName'"
            class="material-symbols-outlined"
            >{{
              sortDirection === "asc"
                ? "keyboard_arrow_up"
                : "keyboard_arrow_down"
            }}</span
          >
        </th>
        <th (click)="sortData('restaurantName')">
          Restaurant name
          <span
            *ngIf="sortField === 'restaurantName'"
            class="material-symbols-outlined"
            >{{
              sortDirection === "asc"
                ? "keyboard_arrow_up"
                : "keyboard_arrow_down"
            }}</span
          >
        </th>
        <th (click)="sortData('bonusScore')">
          Bonus score
          <span
            *ngIf="sortField === 'bonusScore'"
            class="material-symbols-outlined"
            >{{
              sortDirection === "asc"
                ? "keyboard_arrow_up"
                : "keyboard_arrow_down"
            }}</span
          >
        </th>
        <th (click)="sortData('deleted')">
          Deleted
          <span
            *ngIf="sortField === 'deleted'"
            class="material-symbols-outlined"
            >{{
              sortDirection === "asc"
                ? "keyboard_arrow_up"
                : "keyboard_arrow_down"
            }}</span
          >
        </th>
        <th>Functions</th>
      </tr>
    </thead>

    <tbody class="table__body">
      <tr *ngFor="let user of showUserList">
        <td>{{ user.email }}</td>
        <td>{{ user.username }}</td>
        <td>{{ getFullName(user) }}</td>
        <td>{{ getRestaurantName(user) }}</td>
        <td>{{ user.bonusScore || 0 }}</td>
        <td [style.color]="user.deleted ? 'red' : 'green'">
          {{ user.deleted ? "Deleted" : "Active" }}
        </td>
        <td class="table__functions">
          <a
            class="material-symbols-outlined unselectable"
            [routerLink]="['edit']"
            [queryParams]="{ user_id: user.id }"
          >
            edit </a
          ><a
            class="material-symbols-outlined unselectable"
            (click)="deactivateActivateUser(user)"
          >
            delete
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</app-side-bar>
