:root {
  --color-text-dark: #531609;
  --color-text-light: #2d1a08;
  --color-light: #cfc5bf;
  --color-secondary: #5b4f44;
  --color-accent: #754c36;
  --color-primary: #fcdfc5;

  --border: 2px solid var(--color-light);
  --border-radius: 10px;
  --border-radius-small: 5px;
  --border-radius-large: 40px;

  --shadow: 0 5px 0 0 var(--color-secondary);

  --font-family-base: "DM Sans", sans-serif;

  --container-width: 1440px;
  --container-padding-x: 0px;

  --section-padding-y: 70px;

  --input-height: 50px;
  --button-height: 50px;

  --opacity: 0.7;

  --transition-duration: 0.2s;

  --color-danger: rgb(253, 70, 70);
  --color-edit: rgb(125, 125, 255);

  @include desktop {
    --section-padding-y: 50px;
  }

  @include mobile {
    --section-padding-y: 30px;
  }
}

$text-dark: var(--color-text-dark);
$text-light: var(--color-text-light);
$light: var(--color-light);
$secondary: var(--color-secondary);
$accent: var(--color-accent);
$primary: var(--color-primary);
$danger: var(--color-danger);
$edit: var(--color-edit);

$border: var(--border);
$border-radius: var(--border-radius);
$border-radius-small: var(--border-radius-small);
$border-radius-large: var(--border-radius-large);

$input-height: var(--input-height);
$button-height: var(--button-height);

$opacity: var(--opacity);
