@import "/src/scss/index";

.header {
  @include flex(null, center, space-between);

  @include mobile {
    flex-direction: column;
    row-gap: 10px;
  }
}

.user-table {
  padding: 0 2px;
  overflow-x: auto;

  &__footer {
    margin-top: 5px;
    @include flex-center;
  }
}
