<div class="header">
  <button-primary
    *ngIf="
      authService.checkPermission([ROLES_CONFIG.superAdmin, ROLES_CONFIG.admin])
    "
    name="User.Create"
    (click)="openDialog()"
  ></button-primary>

  <search-primary [filterService]="filterService"></search-primary>
  <pagination-buttons
    (leftArrow)="filterService.changePage(-1)"
    (rightArrow)="filterService.changePage(1)"
  ></pagination-buttons>
</div>
<div class="user-table">
  <app-user-list
    [users]="allUserList$"
    (updateUser)="updateUser()"
    (editUser)="openDialog($event)"
  ></app-user-list>
</div>
<div class="user-table__footer">
  <span>{{ filterService.currentTotalPage | async }}</span>
</div>
<modal-window [isOpen]="isModalOpen" (closed)="closeDialog()">
  <ng-template #modalContent></ng-template>
</modal-window>
